<div>
    <h1>父组件</h1>
    <label for="surname">姓</label>
    <input id="surname" type="text" [(ngModel)]="surname" (input)="onInput($event)" (blur)="onBlur($event)">
    <div>
        <span>surname:</span>
        <span>{{surname}}</span>
    </div>
    <div>
        <span>username:</span>
        <span>{{username}}</span>
    </div>
    <div>
        <span>fullname:</span>
        <span>{{fullname}}</span>
    </div>
    <h2>子组件</h2>
    <app-sub [surname]="surname" (usernameChange)="onSubUsernameChange($event)"></app-sub>
</div>